<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
<profiles>
  <profile>
    <id>awstechguide-awstg-demo-repo</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>awstechguide-awstg-demo-repo</id>
        <url>https://awstechguide-<awsaccountno>.d.codeartifact.us-east-1.amazonaws.com/maven/awstg-demo-repo/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<servers>
  <server>
    <id>awstechguide-awstg-demo-repo</id>
    <username>aws</username>
    <password>past token here</password>
  </server>
</servers>	
</settings>